* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Helvetica", sans-serif;
}

.alert-list {
  align-self: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
