* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Helvetica", sans-serif;
}

.alert-list {
  align-self: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.container-main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
}

.cars-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.car-container {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 8px;
  min-height: 650px;
  width: 100%;
  padding: 16px;
  max-width: 350px;
  object-fit: cover;
  margin-right: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  white-space: normal;
}

.car-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 16px;
}

.car-name {
  font-weight: bold;
  margin-top: 8px;
}

.car-details {
  font-size: 14px;
  margin-top: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.car-id {
  color: #777;
}
